# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2023 Robin Jarry
# See https://editorconfig.org/ for syntax reference.

root = true

[*]
end_of_line = lf
charset = utf-8

[meson.build]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 100

[*.{c,h}]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
tab_width = 8
max_line_length = 100

[*.md]
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

[*.sh]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
tab_width = 8
