# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2023 Robin Jarry

/*.deb
/*.list
/*.rpm
/.cache
/.claude/settings.local.json
/build
/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
/debian/.*
/debian/changelog
/debian/debhelper*
/debian/files
/debian/grout-dev/
/debian/grout/
/debian/tmp/
/redhat-linux-build
/subprojects/dpdk
/subprojects/ecoli
/subprojects/frr
