#!/usr/bin/make -f

# Hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=+all reproducible=+all optimize=-lto
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

meson_opts := --wrap-mode=default
meson_opts += --auto-features=enabled
meson_opts += -Ddpdk:platform=generic
meson_opts += -Dfrr=enabled
meson_opts += -Ddpdk_static=true

build = $(CURDIR)/debian/_build
dest = $(CURDIR)/debian/tmp

%:
	dh $@ --buildsystem=meson --with=bash-completion -B$(build)

override_dh_auto_configure:
	dh_auto_configure -- $(meson_opts)

override_dh_auto_install:
	meson install -C $(build) --skip-subprojects --destdir=$(dest)
	install -D -m 644 main/grout.default $(dest)/etc/default/grout
	install -D -m 644 main/grout.init $(dest)/etc/grout.init
	install -D -m 0755 subprojects/dpdk/usertools/dpdk-telemetry-exporter.py \
		$(dest)/usr/bin/grout-telemetry-exporter
	install -D -m 0644 -t $(dest)/usr/share/dpdk/telemetry-endpoints \
		subprojects/dpdk/usertools/telemetry-endpoints/*

override_dh_installsystemd:
	dh_installsystemd --no-start --no-stop-on-upgrade
