# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2023 Robin Jarry
---
name: Check

permissions:
  contents: read

on:
  workflow_call:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-and-tests:
    if: ${{ github.actor != 'grout-bot' }}
    permissions:
      actions: write
    strategy:
      fail-fast: false
      matrix:
        conf:
          - compiler: gcc-13
            sanitize: none
            buildtype: debugoptimized
            os: ubuntu-24.04
            extra_opts: -Dfrr=enabled
            rebase: false
          - compiler: gcc-14
            sanitize: address
            buildtype: debug
            os: ubuntu-24.04
            extra_opts: -Dfrr=enabled
            rebase: true
          - compiler: clang-15
            sanitize: none
            buildtype: debugoptimized
            os: ubuntu-22.04
            extra_opts:
            rebase: false
          - compiler: clang-16
            sanitize: none
            buildtype: debugoptimized
            os: ubuntu-24.04
            extra_opts:
            rebase: false
          - compiler: clang-18
            sanitize: none
            buildtype: debugoptimized
            os: ubuntu-24.04
            extra_opts:
            rebase: false
    runs-on: ${{ matrix.conf.os }}
    env:
      SANITIZE: ${{ matrix.conf.sanitize }}
      BUILDTYPE: ${{ matrix.conf.buildtype }}
      DEBIAN_FRONTEND: noninteractive
      NEEDRESTART_MODE: l
      CC: ccache ${{ matrix.conf.compiler }}
      MESON_EXTRA_OPTS: ${{ matrix.conf.extra_opts }}
    steps:
      - name: install system dependencies
        run: |
          set -xe
          sudo apt-get update -qy
          sudo apt-get install -qy --no-install-recommends \
            make gcc gdb ccache ninja-build meson git scdoc \
            libibverbs-dev libasan8 libcmocka-dev libedit-dev libarchive-dev \
            libevent-dev libsmartcols-dev libmnl-dev libnuma-dev python3-pyelftools \
            socat tcpdump traceroute graphviz iproute2 iputils-ping ndisc6 jq \
            dnsmasq \
            "linux-modules-extra-$(uname -r)"
          if echo $MESON_EXTRA_OPTS | grep -q frr=enabled ; then
            sudo apt-get install -qy --no-install-recommends \
              libjson-c-dev libelf-dev libprotobuf-c-dev protobuf-c-compiler \
              libreadline-dev libcap-dev
            sudo mkdir -p /etc/apt/keyrings
            sudo curl -s -o /etc/apt/keyrings/frrouting.gpg https://deb.frrouting.org/frr/keys.gpg
            echo "deb [signed-by=/etc/apt/keyrings/frrouting.gpg] https://deb.frrouting.org/frr \
              $(lsb_release -s -c) frr-stable" | sudo tee /etc/apt/sources.list.d/frr.list > /dev/null
            sudo apt-get update -qy
            sudo apt-get install -qy librtr-dev libyang2-dev libyang2-tools
          fi
          if printf '%s\n0.63.0\n' "$(meson --version)" | sort -V -C ; then
            sudo apt install -y python3-pip
            pip3 install --user -U meson~=0.63.0
          fi
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0 # force fetch all history
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
      - run: git config --global --add safe.directory $PWD
      - run: git fetch --force origin 'refs/tags/v*:refs/tags/v*'
      - run: echo "CCACHE_DIR=$(ccache -k cache_dir)" >> $GITHUB_ENV
      - uses: actions/cache/restore@v4
        id: cache
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ccache-x86_64-${{ matrix.conf.compiler }}
      - run: ccache -z
      - run: git rebase -x .github/workflows/check.sh "HEAD~${{ github.event.pull_request.commits }}"
        if: ${{ matrix.conf.rebase && github.event.pull_request.commits }}
      - run: .github/workflows/check.sh
        if: ${{ ! matrix.conf.rebase || ! github.event.pull_request.commits }}
      - run: ccache -sv
      - name: delete old cache
        if: ${{ ! github.event.pull_request.commits }}
        uses: actions/github-script@v7
        with:
          script: |
            try {
              await github.rest.actions.deleteActionsCacheByKey({
                owner: context.repo.owner,
                repo: context.repo.repo,
                key: "${{ steps.cache.outputs.cache-primary-key }}"
              });
            } catch (error) {
              if (error.status !== 404) throw error;
            }
      - uses: actions/cache/save@v4
        if: ${{ ! github.event.pull_request.commits }}
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ steps.cache.outputs.cache-primary-key }}

  node-complexity:
    if: ${{ github.actor != 'grout-bot' }}
    permissions:
      actions: write
    runs-on: ubuntu-24.04
    container: fedora:43
    env:
      DEBIAN_FRONTEND: noninteractive
      NEEDRESTART_MODE: l
      CC: ccache gcc
      BUILDTYPE: debugoptimized
      SANITIZE: none
      MESON_EXTRA_OPTS: -Ddpdk:cpu_instruction_set=x86-64-v3
    steps:
      - name: install system dependencies
        run: |
          set -xe
          dnf install -y ccache git gcc make meson ninja-build \
                pkgconf python3-pyelftools scdoc libmnl-devel binutils \
                libcmocka-devel libedit-devel libevent-devel numactl-devel \
                libsmartcols-devel libarchive-devel rdma-core-devel llvm
      - uses: actions/checkout@v4
      - run: echo "CCACHE_DIR=$(ccache -k cache_dir)" >> $GITHUB_ENV
      - uses: actions/cache/restore@v4
        id: cache
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ccache-x86_64-gcc-node-complexity
      - run: ccache -z
      - run: make
      - run: devtools/node-complexity --mcpu=x86-64-v3 --compare devtools/complexity.json
      - run: ccache -sv
      - name: delete old cache
        if: ${{ ! github.event.pull_request.commits }}
        uses: actions/github-script@v7
        with:
          script: |
            try {
              await github.rest.actions.deleteActionsCacheByKey({
                owner: context.repo.owner,
                repo: context.repo.repo,
                key: "${{ steps.cache.outputs.cache-primary-key }}"
              });
            } catch (error) {
              if (error.status !== 404) throw error;
            }
      - uses: actions/cache/save@v4
        if: ${{ ! github.event.pull_request.commits }}
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ steps.cache.outputs.cache-primary-key }}

  build-cross-aarch64:
    if: ${{ github.actor != 'grout-bot' }}
    permissions:
      actions: write
    runs-on: ubuntu-24.04
    container: debian:stable
    env:
      MESON_EXTRA_OPTS: --cross-file=devtools/cross/aarch64.ini
      DEBIAN_FRONTEND: noninteractive
      NEEDRESTART_MODE: l
    steps:
      - name: install system dependencies
        run: |
          set -xe
          dpkg --add-architecture arm64
          apt update -qy
          apt install -qy --no-install-recommends \
            make gcc ccache git meson scdoc python3-pyelftools ca-certificates pkg-config \
            crossbuild-essential-arm64 libcmocka-dev:arm64 libedit-dev:arm64 \
            libevent-dev:arm64 libmnl-dev:arm64 libnuma-dev:arm64 libsmartcols-dev:arm64
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0 # force fetch all history
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
      - run: git config --global --add safe.directory $PWD
      - run: git fetch --force origin 'refs/tags/v*:refs/tags/v*'
      - run: echo "CCACHE_DIR=$(ccache -k cache_dir)" >> $GITHUB_ENV
      - uses: actions/cache/restore@v4
        id: cache
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ccache-aarch64
      - run: ccache -z
      - run: git rebase -x .github/workflows/check.sh "HEAD~${{ github.event.pull_request.commits }}"
        if: ${{ github.event.pull_request.commits }}
      - run: .github/workflows/check.sh
        if: ${{ ! github.event.pull_request.commits }}
      - run: ccache -sv
      - name: delete old cache
        if: ${{ ! github.event.pull_request.commits }}
        uses: actions/github-script@v7
        with:
          script: |
            try {
              await github.rest.actions.deleteActionsCacheByKey({
                owner: context.repo.owner,
                repo: context.repo.repo,
                key: "${{ steps.cache.outputs.cache-primary-key }}"
              });
            } catch (error) {
              if (error.status !== 404) throw error;
            }
      - uses: actions/cache/save@v4
        if: ${{ ! github.event.pull_request.commits }}
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ steps.cache.outputs.cache-primary-key }}

  lint:
    if: ${{ github.actor != 'grout-bot' }}
    runs-on: ubuntu-24.04
    container: fedora:latest
    steps:
      - run: dnf install -y gawk make clang-tools-extra git jq curl codespell
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0 # force fetch all history
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
      - run: git config --global --add safe.directory $PWD
      - run: git fetch --force origin 'refs/tags/v*:refs/tags/v*'
      - run: git rebase -x ".github/workflows/check.sh lint" "HEAD~${{ github.event.pull_request.commits }}"
        if: ${{ github.event.pull_request.commits }}
      - run: .github/workflows/check.sh lint
        if: ${{ ! github.event.pull_request.commits }}

  commits:
    runs-on: ubuntu-24.04
    if: ${{ github.event.pull_request.commits }}
    container: fedora:latest
    env:
      REVISION_RANGE: "HEAD~${{ github.event.pull_request.commits }}.."
    steps:
      - run: dnf install -y make git jq curl codespell
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0 # force fetch all history
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
      - run: git config --global --add safe.directory $PWD
      - run: git fetch --force origin 'refs/tags/v*:refs/tags/v*'
      - run: make check-patches
